<!DOCTYPE html>
<html ng-app>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="南京邮电大学补考查询">
    <title>南京邮电大学补考查询</title>
    <link rel="stylesheet" href="http://cdn.staticfile.org/typo.css/1.1/typo.css" />
    <link rel="stylesheet" href="static/app.css" />
    <link rel="shortcut icon" href="/favicon.ico" />
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47900869-2', 'nupter.org');
  ga('send', 'pageview');

</script>

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?d735cab04d01423995bf6f6e3ed8716b";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>


</head>
<body ng-controller="libListCtrl">

<a href="https://github.com/mmclub/bukao.nupter.org"><img style="position: absolute; top: 0; right: 0; border: 0;" src="static/forkme_right_gray_6d6d6d.png " alt="Fork me on GitHub"></a>
<div id="header" class="wrapper">
  <h1 class="typo-h1"><a href="/">南京邮电大学补考查询</a></h1>
  <div id="nav">
    <a href="/">首页</a> /
    <a href="about.html">简介</a>
  </div>
    <p id="purpose" class="typo-p">

    根据教务处的表格构建的补考查询网站，输入班级编号即可查询。
   
    <br><a href="http://jwc.njupt.edu.cn/picture/article/24/ae/59/2ff297c249b8b43e3840e3a920f6/8529fb66-d40c-4a8e-9047-9c3567ab1744.xls">【考试中心】2013-2014学年第二学期补考安排表-学生用表  
</a>
  </p>


     <p  id="purpose" class="typo-p small-text" style="font-size:14px" >部分贝尔学院班级需要加后缀，如Q100103(T2); 查询体育补考信息请输入 TY </p>


  <div id="query"><input id="key" type="text" ng-model="query" ng-change="onChange()" placeholder="请输入班级号，如B120403, 即时显示结果(首次查询可能略有延迟)" autofocus autocomplete="off"/></div>
</div>



<div id="search" ng-controller="libListCtrl">
  <ol id="libs">
    <li class="item typo" ng-repeat="item in list">
      <h3 > {{item.text}}</h3>
    </li>
  </ol>
</div>



<!-- JiaThis Button BEGIN -->
<script type="text/javascript">
var jiathis_config = {data_track_clickback:'true'};
</script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jiathis_r.js?move=0&amp;uid=1394240836936846" charset="utf-8"></script>
<!-- JiaThis Button END -->


<div id="footer" class="typo wrapper">
  
 <p> <small>&copy; CopyRight 2014 <a href="http://nupter.org">南邮移动互联网俱乐部</a> </small></p>

  <p>由<a href="http://linxiangyu.org"> Lin Xiangyu</a> 基于 <a href="http://staticfile.org/"> staticfile.org</a>修改</p>
</div>



<script src="http://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/angular.js/1.1.5/angular.min.js"></script>
<script src="static/2014.js"></script>



</body>
</html>
